<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:annotation-config/>

    <bean id="mainWindowModel" class="com.organization4242.delmgorb.model.MainWindowModel"
          depends-on="mainWindowModelWithoutProperties" factory-method="getInstance" lazy-init="true">
        <property name="numberOfPoints" value="10"/>
        <property name="timeStep" value="0.5"/>
        <property name="timePeriod" value="100"/>
        <property name="xMin" value="1"/>
        <property name="xMax" value="2"/>
        <property name="yMin" value="0.05"/>
        <property name="yMax" value="1"/>
        <property name="angle" value="PSI"/>
        <property name="integrationMethod" value="DORMAND_PRINCE_8"/>
        <property name="psi0" value="0.05"/>
        <property name="phi0" value="0.05"/>
        <property name="theta0" value="0.05"/>
        <property name="numberOfSpheres" value="10"/>
    </bean>

    <bean id="mainWindowModelWithoutProperties" class="com.organization4242.delmgorb.model.MainWindowModel"
            factory-method="getInstance"/>

    <bean id="mainWindowView" class="com.organization4242.delmgorb.view.MainWindowView">
        <property name="mainWindowController" ref="mainWindowController"/>
    </bean>

    <bean id="dataModel" class="com.organization4242.delmgorb.model.DataModel" lazy-init="true">
        <property name="mainWindowModel" ref="mainWindowModelWithoutProperties"/>
    </bean>

    <bean id="plotBuilder" class="com.organization4242.delmgorb.controller.PlotBuilder" lazy-init="true">
        <property name="mainWindowModel" ref="mainWindowModelWithoutProperties"/>
        <property name="dataModel" ref="dataModel"/>
        <property name="dialogWindowView" ref="dialogWindowView"/>
    </bean>

    <bean id="dialogWindowView" class="com.organization4242.delmgorb.view.DialogWindowView" lazy-init="true">
        <constructor-arg value="Progress"/>
    </bean>

    <bean id="mainWindowController" class="com.organization4242.delmgorb.controller.MainWindowController">
        <property name="mainWindowView" ref="mainWindowView"/>
        <property name="mainWindowModel" ref="mainWindowModelWithoutProperties"/>
        <property name="dataModel" ref="dataModel"/>
        <property name="plotBuilder" ref="plotBuilder"/>
    </bean>
</beans>